bucket         = "replace-with-unique-terraform-state-bucket"
key            = "blog-platform/dev/terraform.tfstate"
region         = "ap-south-1"
dynamodb_table = "blog-platform-terraform-locks"
encrypt        = true
